/*! Place your custom styles here */

body {
  font-size: 1em;
  line-height: 1.85714286em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Helvetica', sans-serif;
}


.btn--primary,
.btn--primary:visited {
  background: #146B83;
  border-color: #146B83;}